#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    flex: 1 0 auto;
    height: auto;
    display: flex;
}

.box {
    flex: 1 0 auto;
    height: auto;
    border: 1px solid black;
}